body {
    background-color: #193441;
    font-size: 14px;
    line-height: 1;
}

#content {
    width: 650px;
    margin: 0px auto;
    padding: 20px;
    color: #383838;
}

#header {
    height: 80px;
    margin-bottom: 25px;
    text-align: center;
}

#header img {
    max-height: 80px;
    margin: auto;
}

#content-inner-container {
    background-color: #FCFFF5;
    border: 1px solid #91AA9D;
    padding: 30px 46px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -border-radius: 5px;
}

.section-wrapper {
    border-top: 1px solid #DADADA;
    margin: 5px 0;
    padding: 10px 0;
}

.option {
	margin-left: 10px;
    padding: 5px 0;
}

#status {
    min-height: 20px;
    text-align: center;
}

#footer {
    color: #91AA9D;
    padding-top: 20px;
    text-align: center;
}