/*Fields inline*/
.test-id__field-label-container {
    width: 50% !important;
    float: left !important;
    max-width: 300px !important;
}
/*Record header smaller*/
.slds-page-header__detail-row {
    padding: 0.5rem 1.5rem !important;
}
/*Higlight fields on hover*/
.slds-form-element.slds-form-element_edit.slds-grow.slds-hint-parent.slds-p-vertical_xx-small.override--slds-form-element:hover {
    background-color: #cdd9e733 !important;
}

/*Main page component padding*/
.slds-tabs_card, .slds-tabs_card.slds-tabs_card {
    padding: 0.5rem !important;
}