/*Header inline style*/
.slds-text-heading_label-normal, .slds-text-heading--label-normal {
    float: left;
    padding: 2px 10px 0 0 !important;
}

/*Record header smaller*/
.slds-page-header__detail-row {
    padding: 0.5rem 1.5rem 0.4rem !important;
}