/*Header inline style*/
.highlights.slds-clearfix.slds-page-header.slds-page-header_record-home {
    padding: 0.3rem !important;
}

/* Cards spacing */
.slds-card__header.slds-grid.slds-m-bottom--none {
    padding: 0.2rem !important;
}

flexipage-component2 {
    margin-bottom: 0.2rem !important;
}