/*Add Modal Style*/
.changeOwnerContentWrapper.slds-p-around--medium.forceChangeOwnerContent {
    padding: 0.3rem !important;
}

.modal-footer.slds-modal__footer {
    padding-top: 0.3 !important;
    padding-bottom: 0.3 !important;
}

.modal-header.slds-modal__header {
    padding: 0.3rem !important;
}